:root {
  font-family: "Inter", sans-serif;
  --color-main: #444;
  --color-secondary: #66be1d;
  --color-secondary-light: #74de1e;
  --color-white: #faf9f6;
  font-size: 62.5%;
}

body {
  font-weight: 500;
  color: var(--color-main);
  background-color: var(--color-white);
  padding: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
********************
ELEMENT SELECTORS
********************
*/

section {
  margin: 6rem 0 0 10rem;
}

header {
  margin: 5rem 0 0 10rem;
}

h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin: 2.5rem 0 0.5rem 0;
}

p,
a,
span,
li {
  font-size: 1.5rem;
}

p {
  padding-bottom: 0.8rem;
}

a {
  text-decoration: none;
}

li,
span,
p a:link {
  color: var(--color-main);
}

li,
span,
p a:visited {
  color: var(--color-main);
}

/* 
********************
UTILITY CLASSES
********************
*/

.grid {
  display: grid;
  align-items: center;
}

.row-gap-large {
  row-gap: 6rem;
}

.column-gap-medium {
  column-gap: 3rem;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}

.flex {
  display: flex;
}

/* 
********************
COMPONENTS
********************
*/

.btn {
  margin: 1rem 0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  transition: ease 0.75s;
}

.btn:hover {
  background-color: var(--color-secondary-light);
  transform: translateY(-10px);
}

.btn a:link {
  color: var(--color-white);
}

.btn a:visited {
  color: var(--color-white);
}

/* 
********************
REQUIREMENTS SECTION
********************
*/

.section-requirements {
  max-width: 90rem;
}

.checkbox {
  background-color: var(--color-main);
  border-radius: 10px;
  align-items: center;
  max-width: 3rem;
}

.section-requirements i {
  margin: auto;
  padding: 0.5rem;
  font-size: 2rem;
  color: var(--color-white);
}

.grid-courses {
  grid-template-columns: 1fr 1fr 1fr 4fr;
}

.courses-row a:hover {
  letter-spacing: 0.5px;
}

.courses-row a:link {
  color: var(--color-main);
}

.courses-row a:visited {
  color: var(--color-main);
}

/* 
********************
SECTION WORK
********************
*/

.section-work {
  max-width: 100rem;
}

.section-work a:hover {
  letter-spacing: 0.5px;
}

.technologies-box i {
  font-size: 5rem;
}

.links-box {
  gap: 1rem;
  margin-top: 1rem;
}

.section-work img {
  width: 100%;
  border-radius: 20px;
  transition: ease 1s;
}

.section-work img:hover {
  transform: scale(1.4);
}

.technologies-box {
  gap: 1rem;
  margin-top: 1rem;
  justify-content: start;
}

.technologies-box .img-square {
  max-width: 20%;
}

.technologies-box .img-rectangle {
  max-width: 30%;
}

.technologies-box img:hover {
  transform: scale(1);
}
